:root {
  --checkbox-color: #3ba395;
  --header-height: 87px;
  --low-priority-color: #008000;
  --medium-priority-color: #feb124;
  --high-priority-color: #fe1e1e;
}
.header {
  height: var(--header-height);
  background-color: darkgray;
  padding: 1.2rem;
  color: white;
}

/* main content */

.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: calc(100% - var(--header-height));
}

.categories_container {
  background-color: blanchedalmond;
  padding-block: 1rem;
}

button.category_button {
  background: none;
  cursor: pointer;
}

.todos_container {
  background-color: aliceblue;
  padding: 1rem;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  transition: transform 0.3s ease;
}

.todo:hover,
.todo:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.todo .right_section,
.todo .left_section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.todo .checkbox {
  border: 2px solid var(--checkbox-color);
  width: 20px;
  height: 20px;
  position: relative;
}

.todo .checkbox:hover {
  background-color: var(--checkbox-color);
}

.todo .checkbox:hover::after {
  position: absolute;
  content: '\2713';
  left: 3px;
  top: -3px;
  color: white;
}

nav ul.categories {
  list-style-type: none;
}

/* floating action button */

.fab {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

/* Form Modal and Overlay */

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: grid;
  place-content: center;
}

.overlay.visible {
  visibility: visible;
}

.modal {
  background-color: white;
  padding: 1.2rem;
  border-radius: 1rem;
}

.modal textarea {
  resize: none;
}

.modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}

.modal .form-control {
  display: flex;
  flex-direction: column;
}

.modal .form-control label {
  display: block;
}

.modal .form-control input[type='text'] {
  width: 100%;
}

.modal .priorities {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.priority_control label {
  display: block;
  position: relative;
  padding: 0.1rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.priority_control input:checked + label {
  color: white;
}

.priority_control.low input:checked + label {
  background-color: var(--low-priority-color);
}
.priority_control.medium input:checked + label {
  background-color: var(--medium-priority-color);
}
.priority_control.high input:checked + label {
  background-color: var(--high-priority-color);
}

.priority_control.low label {
  border: 1px solid var(--low-priority-color);
  color: var(--low-priority-color);
}
.priority_control.medium label {
  border: 1px solid var(--medium-priority-color);
  color: var(--medium-priority-color);
}
.priority_control.high label {
  border: 1px solid var(--high-priority-color);
  color: var(--high-priority-color);
}

.priority_control input[type='radio'] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
}
